
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ZOMA Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Hind&amp;display=swap'>
	<link rel="stylesheet" href="./stylesheets/search_home.css">
</head>

<body>
	<div class="search-bar">
        <h1><%= error.status %> <%= message %></h1>
    </div>
</body>

</html>
