<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ZOMA Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Hind&amp;display=swap'>
	<link rel="stylesheet" href="../stylesheets/search_home.css">
</head>

<body>
	<form class="search-bar" method="GET">
		<input type="search" name="search" pattern=".*\S.*" autocomplete="off" required>
		<button class="search-btn" type="submit">
			<span>Search</span>
		</button>
	</form>
</body>

</html>